/*******************************
************MEDIA***************
*******************************/


@media(max-width: 1490px){
    .burger{
        display: block;
    }
    .nav{
        &_aside{
            margin-left: auto;
        }
        &_menu{
            display: none;
        }
        &_login{
            display: none;
        }
    }
}


@media(max-width: 1320px){
    .of_banner{
        &_wrap-arrow{
            display: none;
        }
    }
}


@media(max-width: 1260px){
    .banner{
        &_logo{
            width: 1050px;
            margin-top: -100px;
            margin-left: 260px;
        }
    }
    .container{
        max-width: 766px;
        width: 100%;
        padding: 0 8px;
    }
    .article{
        padding-top: 20px;
        &_title{
            max-width: 520px;
            width: 100%;
            margin: 0 auto 60px;
            h1{
                font-size: 60px;
                line-height: 60px;
            }
        }
    }
    .article, .of_banner{
        &_card{
            width: 335px;
        }
        &_card-wrap{
            padding: 0 20px;
        }
        &_cards{
            justify-content: center;
        }
        &_article--title{
            max-width: 520px;
            width: 100%;
            margin: 0 auto 60px;
            h1{
                font-size: 60px;
                line-height: 60px;
            }
        }
    }
    .vacancy_banner{
        &_article--title{
            max-width: 800px;
            width: 100%;
            margin: 0 auto 60px;
            h1{
                font-size: 60px;
                line-height: 60px;
            }
        }
    }
    .support{
        &_wrap-cards{
            padding: 120px 20px 80px 20px;
        }
        &_card{
            padding: 50px 40px;
        }
    }
    .support_aside{
        &-title, &-contact, &-button{
            padding: 20px 20px;
        }
    }
    .rates_aside{
        &-title, &-button{
            padding: 10px 20px;
        }
        &-title{
            font-size: 47px;
            line-height: 55px;
        }
    }
    .footer{
        &_nav{
           width: 100%; 
           flex-wrap: wrap;
           margin: 0 auto;
        }
        &_col{
            max-width: 50%;
            width: 100%;
            padding: 0 20px;
        }
    }

}
@media(max-width: 991px){
    .banner{
        &_logo{
            display: none;
        }
        &_logo_ipad{
            display: block;
        }
        &_content{
            margin-top: 350px;
        }
    }
    .of_banner{
        &_logo{
            display: none;
        }
        &_logo_ipad{
            display: block;
        }
        &_content{
            margin-top: 350px;
        }
        .of_card{
            padding: 90px 50px;
        }
    } 
    .vacancy_banner{
        padding-top: 160px;
        &_article--title{
            max-width: 680px;
            width: 100%;
        }
        &_card{
            width: 323px;
        }
    }
    .support{
        &_banner_logo{
            display: none;
        }
        &_logo_ipad{
            display: block;
        }
        &_content{
            margin-top: 350px;
        }
    }
}

@media(max-width: 767px){
    .container{
        max-width: 320px;
        width: 100%;
        padding: 0 15px;
    }
    .box{
        padding: 0 15px;
    }
    .article{
        &_title{
            max-width: 100%;
            width: 100%;
            padding: 0 15px;
            h1{
                font-size: 35px;
                line-height: 35px;
            }
        }
    }
    .article, .of_banner{
        &_cards{
            flex-direction: column;
            align-items: center;
        }
        &_card{
            max-width: 100%;
            width: 100%;
            padding: 40px 15px 60px 15px;
        }
        &_card-wrap{
            padding: 0;
            margin-bottom: 30px;
        }
        &_article--title{
            max-width: 100%;
            width: 100%;
            padding: 0 15px;
            h1{
                font-size: 35px;
                line-height: 35px;
            }
        }
    }
    .banner{
        min-height: 950px;
    }
    .banner, .of_banner{
        &_title{
            h2{
                font-size: 35px;
                line-height: 35px;
            }
        }
        &_text{
            font-size: 25px;
            line-height: 30px;
        }
        &_content{
            max-width: 400px;
            width: 100%;
        }
    } 
    .vacancy_banner{
        &_article--title{
            max-width: 290px;
            width: 100%;
            h1{
                font-size: 35px;
                line-height: 35px;
            }
        }
        &_cards{
            max-width: 290px;
            width: 100%;
            padding: 0 0;
            margin: 0 auto;
        }
        &_card-wrap{
            max-width: 100%;
            width: 100%;
            padding: 0 0;
            margin-bottom: 30px;
        }
        &_card{
            max-width: 100%;
            width: 100%;
        }
        &_join{
            padding: 20px 0px;
            &-text{
                h1{
                    font-size: 35px;
                    line-height: 35px;
                }
                p{
                    font-size: 25px;
                    line-height: 30px; 
                }
            }
        }
    }
    .vacancy_card{
        padding: 40px 15px;
    }
    .support{
        &_wrap-cards{
            padding: 50px 0px 40px 0px;
        }
        &_card{
            flex-direction: column;
            padding: 40px 12px 70px 12px;
        }
        &_card-text{
            padding-left: 0px;
            text-align: center;
            p{
                font-size: 16px;
                line-height: 25px;
            }
        }
        &_card_wrap-img{
            margin-bottom: 30px;
            padding-right: 0px;
        }
    }
    .support_aside{
        padding: 70px 0px;
        &-title, &-contact, &-button{
            padding: 10px 0px;
        }
        &-title{
            margin-bottom: 20px;
            h4{
                font-size: 25px;
                line-height: 40px;
            }
        }
        &-contact{
            margin-bottom: 15px;
            p{
                font-size: 18px;
                line-height: 41px;
                margin-bottom: 0px;
            }
            a{
                line-height: 61px;
                font-size: 35px;
            }
        }
    }
    .rates_aside{
        padding: 60px 0;
        &-title, &-button{
            padding: 10px 0px;
        }
        &-title{
            font-size: 30px;
            line-height: 41px;
            margin-bottom: 15px;
        }
    }
    .footer{
        &_col{
            max-width: 100%;
            width: 100%;
            padding: 0;
        }
    }
    .nav{
        min-height: 60px;
        background: rgba(4, 28, 99, 0.8);
        position: fixed;
        &_button{
            display: none;
        }
        &_logo{
            img{
                max-width: 140px;
                width: 100%;
            }
        }
    }
    .burger_menu{
        &--button{
            display: block;
        }
    }
    .burger{
        width: 35px;
        height: 28px; 
        &_line, &_line::after, &_line::before{
            height: 4px;    
        }
        &_line::after{
            top: 8px;
        }
        &_line::before{
            top: -8px;
        }
    }

    .of_banner{
        &_logo_mobile{
            display: block;
        }
        &_logo_ipad{
            display: none;
        }
        &_content{
            margin-top: 250px;
        }
        &_methods{
            flex-direction: column;
            align-items: center;
        }
        &_method{
            margin-bottom: 30px;
        }
        .of_card{
            padding: 80px 30px;
        }
        &_article{
            padding-top: 50px;
        }
    }
    .support{
        &_logo_mobile{
            display: block;
        }
        &_logo_ipad{
            display: none;
        }
        &_content{
            margin-top: 230px;
        }
        &_title{
            h2{
                font-size: 35px;
                line-height: 35px;
            }
        }
        &_content{
            max-width: 550px;
            width: 100%;
        }
    }
    .rate_banner{
        min-height: 750px;
    }
    .box_rates{
        padding: 0 0;
    }
    .rates{
        &_slider{
            padding-top: 20px;
        }
        &_points-wrap{
            padding-top: 152px;
            padding-left: 10px;
            min-width: 160px;
        }
        &_tariff{
            padding: 20px 0 20px 0;
            min-width: 135px;
        }
        &_tariff-wrap{
            padding: 0 5px;
        }
        &_point{
            height: 43px;
            display: flex;
            align-items: center;
            padding-left: 0px;
            p{
                font-size: 12px;
                line-height: 18px;
            }
        }
        &_points-title-mobile{
            display: block;
        }
        &_points-title{
            display: none;
            h4{
                font-size: 38px;
                line-height: 38px;
            }
            p{
                font-size: 18px;
                 line-height: 30px;
            }
        }
        &_tariff-title{
            margin-bottom: 10px;
            h5{
                font-size: 16px;
                line-height: 30px;
            }
        }
        &_tariff_price{
            width: 72px;
            height: 72px;
        }
        &_tariff_price--currency{
            P{
                font-size: 12px;
                line-height: 16px;
            }
        }
        &_tariff_price--cost{
            P{
                font-size: 25px;
                line-height: 22px;
            }
        }
        &_tariff_price--time{
            P{
                font-size: 12px;
                line-height: 16px;
            }
        }
        &_tariff_points-title{
            p{
                font-size: 16px;
                line-height: 30px;
            }
        }
        &_tariff_point > img{
            width: 22.37px;
            height: 20px;
        }
        &_tariff_point{
            height: 43px;
        }
        &_tariff_button{
            a{
                min-width: 102px;
                height: 33px;
                border-radius: 16px;
                span{
                    content: "";
                    min-width: 98px;
                    height: 29px;
                    border-radius: 14px;
                    line-height: 6px;
                 }
            }
        }
    }
    .b_popup-wrap{
        padding: 10px 20px;
        min-width: 250px;
        top: -100px;
        left: -130px;
        height: 130px;
        p{
            font-size: 12px;
            line-height: 25px;
        }
    }
    
}

@media(max-width: 500px){
    .banner{
        min-height: 850px;
        padding-bottom: 30px;
        &_logo_mobile{
            display: block;
        }
        &_logo_ipad{
            display: none;
        }
        &_content{
            margin-top: 250px;
        }
    }
    .burger_menu{
        &_wrap{
            a{
                padding: 20px 0;
            }
        }
    }
    .banner_logo_mobile {
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translate(-50%, 0);
        z-index: -1;
    }
    .rate_banner{
        min-height: 550px;
    }
}