/*****************************************************************************
**********************************MAIN****************************************
******************************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    max-width: 1640px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
.container{
    max-width: 1380px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}




/*******************************
************BANNER**************
*******************************/
main{
    overflow: hidden;
}

.banner{
    min-height: 1000px;
    position: relative;
    padding-top: 100px;
        &_logo{
            margin-top: 30px;
            margin-left: 360px;
        }
        &_logo, &_logo_ipad, &_logo_mobile{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
        &_logo_ipad{
            display: none;
            width: 1150px;
            margin-top: -210px;
        }
        &_logo_mobile{
            display: none;
            width: 1400px;
            margin-top: -780px;
            margin-left: -30px;
        }
    &:before{
        content: "";
        max-width: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: -350px;
        z-index: -2;
        background: linear-gradient(to left, #18FFFF -19.73%, #0066CC 48.41%, #060644 113.77%);
    }
    &_content{
        margin-top: 150px;
        padding: 10px 10px 10px 0px;
        max-width: 590px;
        width: 100%;
    }
    &_title{
        margin-bottom: 25px;
        h2{
            font-family: 'Jost', sans-serif;
            font-weight: 500;
            font-size: 60px;
            line-height: 58px; 
            color: #FFFFFF;
        }
    }
    &_text{
        font-family: 'Roboto',sans-serif;
        color: #FFFFFF;
        margin-bottom: 30px;
        h4{
            font-weight: 700;
            font-size: 30px;
            line-height: 41px;
            mix-blend-mode: normal;
            opacity: 0.8;
            margin-bottom: 10px;
        }
        p{
            font-weight: 500;
            font-size: 18px;
            line-height: 30px; 
            mix-blend-mode: normal;
            opacity: 0.8;
            margin: 7px 0;
        }
    }
}





/*******************************
************OF_BANNER***********
*******************************/


.of_banner{
    min-height: 1500px;
    position: relative;
    padding-top: 100px;
    background: linear-gradient(to left, #18FFFF -19.73%, #0066CC 48.41%, #060644 113.77%);
    &_logo{
        margin-top: -325px;
        margin-left: 360px;
    }
    &_logo, &_logo_ipad, &_logo_mobile{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 0;
    }
    &_logo_ipad{
        display: none;
        width: 1150px;
        margin-top: -430px;
    }
    &_logo_mobile{
        display: none;
        width: 1400px;
        margin-top: -880px;
        margin-left: -30px;
    }
    &_content{
        margin-top: 225px;
        padding: 10px 10px 10px 0px;
        max-width: 590px;
        width: 100%;
        position: relative;
        z-index: 2;
    }
    &_title{
        margin-bottom: 40px;
        h2{
            font-family: 'Jost', sans-serif;
            font-weight: 500;
            font-size: 60px;
            line-height: 58px; 
            color: #FFFFFF;
        }
    }
    &_text{
        font-family: 'Roboto',sans-serif;
        color: #FFFFFF;
        margin-bottom: 30px;
        h4{
            font-weight: 700;
            font-size: 30px;
            line-height: 41px;
            mix-blend-mode: normal;
            opacity: 0.8;
            margin-bottom: 10px;
        }
        p{
            font-weight: 500;
            font-size: 18px;
            line-height: 30px; 
            mix-blend-mode: normal;
            opacity: 0.8;
            margin: 7px 0;
        }
    }
    &_methods{
        max-width: 775px;
        position: relative;
        z-index: 2;
        padding: 20px 0;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        display: flex;
    }
    &_method{
        max-width: 226px;
        width: 100%;
        height: auto;
        a{
            width: 100%;
            height: 100%;
            display: inline-block;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &_article{
        position: relative;
        z-index: 2;
        padding: 200px 0 50px 0;
    }
    &_cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
    }
    &_card-wrap{
        padding: 0 25px;
        margin-bottom: 50px;
    }
    &_card{
        width: 360px;
        background: #FFFFFF;
        box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.18);
        border-radius: 20px;
        height: 100%;
    }    
    .of_card{
        padding: 90px  60px;
        &_img{
            width: 150px;
            height: 110px;
            margin: 0 auto;
            margin-bottom: 40px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &_text{
            text-align: center;
            a{
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                color: #297FCA;
                text-decoration: none;
                margin-bottom: 15px;
                display: inline-block;
            }
        }
    }
    &_article--title{
        padding: 0 25px;
        text-align: center;
        margin-bottom: 60px;
        h1{
            font-family: 'Jost', sans-serif;
            font-weight: 300;
            font-size: 80px;
            line-height: 80px;
            color: #FFFFFF;
        }
    }
    &_wrap-arrow{
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        &:last-child{
            display: none;
        }
    }
    &_arrow{
        width: 30px;
        height: 60px;
    }
}



/*******************************
***********VACANCY_BANNER*******
*******************************/

// .of_banner{
    
// }

.vacancy_content{
    max-width: 680px;
    width: 100%;
}

.vacancy_banner{
    padding-top: 285px;
    &_article--title{
        padding: 0 25px;
        text-align: center;
        margin-bottom: 60px;
        h1{
            font-family: 'Jost', sans-serif;
            font-weight: 300;
            font-size: 80px;
            line-height: 80px;
            color: #FFFFFF;
        }
    }
    &_cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }
    &_card-wrap{
        padding: 0 20px;
        margin-bottom: 50px;
    }
    &_card{
        width: 360px;
        background: #FFFFFF;
        box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.18);
        border-radius: 20px;
        height: 100%;
    }
    &_join{
        padding: 50px 50px 100px 50px;
        text-align: center;
        color: #ffffff;
        &-text{
            h1{
                font-size: 60px;
                line-height: 60px;
                font-family: 'Jost';
                font-weight: 500;
                margin-bottom: 20px;
            }
            p{
                font-size: 30px;
                line-height: 41px;
                font-weight: 700;
                opacity: 0.8;
                font-family: 'Roboto';
                margin-bottom: 35px;
            }
        }
    }
}
.vacancy_card{
    padding: 50px 30px 55px 30px;
    &_title{
        text-align: center;
        padding: 0 10px;
        a{
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            min-height: 55px;
            color: #297FCA;
            text-decoration: none;
            margin-bottom: 15px;
            display: inline-block;
        }
    }
    &_text{
        p{
            font-size: 16px;
            line-height: 25px;
            opacity: 0.8;
            color: #041C63;
            font-family: 'Roboto';
        }
    }
}


/*******************************
***********SUPPORT_BANNER*******
*******************************/

.support{
    &_banner_logo{
        margin-top: -286px;
        margin-left: 360px;
    }
    &_banner_logo, &_logo_ipad, &_logo_mobile{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 0;
    }
    &_logo_ipad{
        display: none;
        width: 1050px;
        margin-top: -350px;
    }
    &_logo_mobile{
        display: none;
        width: 1400px;
        margin-top: -880px;
        margin-left: -30px;
    }
    &_content{
        margin-top: 225px;
        padding: 10px 10px 10px 0px;
        max-width: 870px;
        width: 100%;
        position: relative;
        z-index: 2;
    }
    &_title{
        margin-bottom: 40px;
        h2{
            font-family: 'Jost', sans-serif;
            font-weight: 500;
            font-size: 60px;
            line-height: 60px; 
            color: #FFFFFF;
        }
    }
    &_wrap-cards{
        padding: 170px 75px 100px 75px;
        position: relative;
        z-index: 2;
    }
    &_card{
        display: flex;
        align-items: center;
        padding: 70px 60px;
        background: #FFFFFF;
        box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.18);
        border-radius: 10px;
        margin-bottom: 50px;
    }
    &_card-text{
        padding-left: 25px;
        p{
            font-size: 30px;
            line-height: 41px;
            color: #041C63;
        }
    }
    &_card_wrap-img{
        display: flex;
        align-items: center;
        padding-right: 25px;
    }
    &_card-img{
        width: 110px;
        height: 110px;
        img{
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
.support_aside{
    padding: 90px 0px 170px 0px;
    &-title, &-contact, &-button{
        text-align: center;
        padding: 20px 150px;
        color: #041C63;
        font-family: 'Roboto';
    }
    &-title{
        margin-bottom: 30px;
        h4{
            font-size: 30px;
            line-height: 41px;
            font-weight: 700;
        }
    }
    &-contact{
        margin-bottom: 20px;
        p{
            font-size: 30px;
            line-height: 41px;
            font-weight: 700;
            opacity: 0.8;
            margin-bottom: 15px;
        }
        a{
            font-size: 66.1765px;
            line-height: 61px;
            font-weight: 700;
            color: #041C63;
            text-decoration: none;
            background-image: linear-gradient(to bottom, #041C63 75%, transparent 75%);
            background-position: 0 1.04em;
            background-repeat: no-repeat;
            background-size: 100% 5px;
        }
    }
}




/*******************************
***********RATE_ASIDE***********
*******************************/


.rates_aside{
    padding: 80px 0;
    background: linear-gradient(to left,#18ffff -19.73%,#06c 48.41%,#060644 113.77%);

    &-title, &-button{
        padding: 10px 100px;
        text-align: center;
    }
    &-title{
        font-size: 60px;
        line-height: 60px;
        font-family: 'Jost';
        color: #FFFFFF;
        margin-bottom: 25px;
    }
}
.box_rates{
    padding: 0 0 0 15px;
}
.rates{
    &_slider{
        padding-top: 70px;
        align-items: flex-start;
        padding-bottom: 40px;
        display: flex;
        &-wrap {
            width: 100%;
            position: relative;
        }
        button{
            display: none !important;
        }
    }
    &_points-wrap{
        padding: 150px 0 40px 0;
        position: relative;
        min-width: 372px;
        overflow: hidden;
    }
    &_points-title-mobile{
        padding: 40px 10px 10px 20px;
        display: none;
        h4{
            font-family: 'Jost';
            font-weight: 500;
            font-size: 35px;
            line-height: 35px;
            color: #FFFFFF;
            margin-bottom: 10px;
        }
        p{
            font-family: 'Roboto';
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;
            color: #FFFFFF;
            opacity: 0.8;
        }
    }
    &_points-title{
        padding: 10px 0;
        h4{
            font-family: 'Jost';
            font-weight: 500;
            font-size: 60px;
            line-height: 58px;
            color: #ffffff;
        }
        p{
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 30px;
            line-height: 80px;
            color: #ffffff;
            opacity: 0.8;
        }
    }
    &_point{
        padding-left: 15px;
        p{
            font-size: 18px;
            line-height: 56px;
            opacity: 0.8;
            font-family: 'Roboto';
            color: #ffffff;
        }
        &:nth-child(2n+1){
            background: rgba(4, 28, 99, 0.2);
        }
    }
    &_tariff-wrap{
        padding: 0 10px;
        position: relative;
        &:hover .b_popup-wrap{
            display: block;
        }
    }
    &_tariff_points{
        margin-bottom: 20px;
    }
    &_tariff{
        min-width: 225px;
        padding: 20px 0px 35px 0;
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(329.31deg, #041C63 5.49%, #0066CC 65.66%);
        box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.18);
        border-radius: 20px;
        position: relative;
        // z-index: -1;
        height: 100%;
    }
    &_tariff-title{
        text-align: center;
        padding: 0 15px;
        margin-bottom: 20px;
        h5{
            font-family: 'Jost';
            font-weight: 500;
            font-size: 30px;
            line-height: 58px;
            color: #041C63;
        }
    }
    &_tariff_price{
        width: 190px;
        height: 190px;
        background: linear-gradient(329.31deg, #041C63 5.49%, #0066CC 65.66%);
        border-radius:50% 50%;
        margin: 0px auto 20px;
    }
    &_tariff_price-wrap{
        max-width: 100%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &_tariff_price--currency{
        p{
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 20px;
            line-height: 41px;
            color: #ffffff;
        }
    }
    &_tariff_price--cost{
        p{
            font-family: 'Jost';
            font-weight: 500;
            font-size: 60px;
            line-height: 60px;
            color: #ffffff;
        }
    }
    &_tariff_price--time{
        p{
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 20px;
            line-height: 41px;
            opacity: 0.7;
            color: #ffffff;
        }
    }
    &_tariff_points-title{
        text-align: center;
        p{
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 30px;
            line-height: 56px;
            color: #041C63;
        }
    }
    &_tariff_point{
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:nth-child(2n+1){
            background: rgba(196, 196, 196,0.2);
        }
    }
    &_tariff_button{
        text-align: center;
        a{
            display: inline-block;
            position: relative;
            z-index: 2;
            min-width: 190px;
            height: 65px;
            border-radius: 32px;
            text-decoration: none;
            color: #ffffff;
            font-size: 16px;
            line-height: 16px;
            font-weight: 500;
            background: linear-gradient(329.31deg, #041C63 5.49%, #0066CC 65.66%); 
            text-align: center;
            font-family: 'Roboto', sans-serif;
            transition: .4s;
            span{
                content: "";
                position: absolute;
                top: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                left: 50%;
                color: #041C63;
                min-width: 180px;
                height: 55px;
                transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                background: #ffffff;  
                border-radius: 27px; 
             }
             &:hover span, &:focus span, &:active span{
                background: transparent;
                color: #ffffff;
            } 
            &:focus, &:active{
                background: #041C63;
            }
        }
    }
}
.b_popup-wrap{
    display: none;
    top: -70px;
    left: -280px;
    position: absolute;
    max-width: 395px;
    min-width: 395px;
    width: 100%;
    height: 150px;
    background: #FFFFFF;
    opacity: 0.9;
    border: 1px solid #FF0000;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 25px 30px;
    z-index: 3;
    &:before {
        border:39px solid transparent;
        border-bottom-color: #FF0000;
        position:absolute;
        top:101%;
        right:40px;
        transform: rotate(180deg);
        content:'';
    }
    &:after {
        border:39px solid transparent;
        border-bottom-color:#FFFFFF;
        position:absolute;
        top:100%;
        transform: rotate(180deg);
        right:40px;
        content:'';
    }
    p{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        display: flex;
        height: 100%;
        align-items: center;
        text-align: center;
        color: #FF0000;
    }
}


/*******************************
************ARTICLE*************
*******************************/


.article{
    padding-top: 50px;
    padding-bottom: 30px;
    &_title{
        padding: 0 25px;
        text-align: center;
        margin-bottom: 60px;
        h1{
            font-family: 'Jost', sans-serif;
            font-weight: 300;
            font-size: 80px;
            line-height: 80px;
            color: #FFFFFF;
        }
    }
    &_cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
    }
    &_card-wrap{
        padding: 0 25px;
        margin-bottom: 50px;
    }
    &_card{
        width: 360px;
        background: #FFFFFF;
        box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.18);
        border-radius: 20px;
        height: 100%;
    }
    &_button{
        text-align: center;
    }
}
.card{
    padding: 50px 20px 60px 20px;
    &_img{
        width: 110px;
        height: 110px;
        margin: 0 auto;
        margin-bottom: 40px;
        img{
            width: 100%;
            max-height: 100%;
            height: auto;
            object-fit: contain;
        }
    }
    &_img_grow{
        width: 125px;
    }
    &_text{
        text-align: center;
        a{
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #297FCA;
            text-decoration: none;
            margin-bottom: 15px;
            display: inline-block;
        }
        p{
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            color: #041C63;
            mix-blend-mode: normal;
            opacity: 0.8
        }
    }
}