- const footer = LANG.footer;

footer
    section.footer
        div.container
            div.footer_nav
                each col in footer.cols
                    div.footer_col
                        div.footer_col--title
                            a(href=col.col_link_path)= col.col_title
                        div.footer_col--link
                            each link,index in col.col_links
                                 a(href=link.col_link_path)= link.col_link
                            
            div.footer_info
                div.footer_logo
                    img(src=footer.footer_img)