$mainColor: white;
$secondColor: #041C63;
$breakpoint-l: 1630px;
$breakpoint-m: 1350px;
$breakpoint-md: 1260px;
$breakpoint-s: 1140px;
$main-font-family: "Roboto",
sans-serif;
$main-font-title: "Jost",
sans-serif;